* {

  }

.container{
    display: flex;
}

.muestrario{
    display: flex;
    align-self:center;
}
.muestra{
    display: block;
    height: 250px;
    weight: auto;
    margin: 30px;
    border: 10px solid rgb(37, 37, 37);
    
    

}
h1 {
    color: white;
    background-color: black;
    text-align: center;
}
.recipe {
    color:olive;
   
}
.nombre {
    display: block;
    text-align: center;
    margin: 0px;
}
.link {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    
}

img {
    display: block;
    margin-left: auto;
    margin-right: 0px;
    height: 360px;
    weight: auto;
    align-self: right;
}